<!--
File: category-edit-page.component.html
Project: crud-ngrx
Created: Thursday, January 6th 2022, 9:10:44 pm
Last Modified: Monday, January 10th 2022, 1:44:56 pm
Copyright © 2021 AMDE Agência
-->
<!--
File: product-edit-page.component.html
Project: crud-ngrx
Created: Thursday, January 6th 2022, 8:42:48 pm
Last Modified: Thursday, January 6th 2022, 9:05:41 pm
Copyright © 2021 AMDE Agência
-->
<div class="container">
  <div class="line">
    <div class="twelve columns">
      <h1>EDIT CATEGORY</h1>
      <app-form [single]="true"> </app-form>
    </div>
  </div>
</div>
