<!--
File: product-edit-page.component.html
Project: crud-ngrx
Created: Thursday, January 6th 2022, 8:42:48 pm
Last Modified: Thursday, January 6th 2022, 9:05:41 pm
Copyright © 2021 AMDE Agência
-->
<div class="container">
    <div class="line">
        <div class="twelve columns">
            <h1>EDIT PRODUCT</h1>
            <form>
                <div class="line">
                    <div class="six columns">
                        <label for="name" class="u-width-100">Name</label>
                        <input class="u-width-100" type="text" id="name">
                    </div>
                    <div class="three columns">
                        <label for="price" class="u-width-100">Price</label>
                        <input type="number" id="price">
                    </div>
                    <div class="three columns">
                        <label for="subject">Category</label>
                        <select id="subject" class="u-width-100">
                            <option value="1">one</option>
                            <option value="2">two</option>
                            <option value="3">three</option>
                        </select>
                    </div>
                </div>
                <div class="line">
                    <div class="twelve columns">
                        <label for="message">Description</label>
                        <textarea id="message" rows="10" class="u-width-100"></textarea>
                    </div>
                </div>
                <div class="line">
                    <div class="twelve columns">
                        <input type="submit" value="Save" class="button featured u-width-100">
                        <a class="button u-width-100">Remove</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>