<!--
File: categories-page.component.html
Project: crud-ngrx
Created: Thursday, January 6th 2022, 6:52:42 pm
Last Modified: Thursday, January 6th 2022, 9:16:13 pm
Copyright © 2021 AMDE Agência
-->
<div class="container">
    <div class="line">
        <div class="twelve columns">
            <h1>CATEGORIES</h1>
            <table class="u-width-100">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Products (Qtd.)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Books</td>
                        <td>99</td>
                        <th>
                            <a [routerLink]="[1, 'edit']" class="featured button">Edit</a>
                        </th>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Toys</td>
                        <td>13</td>
                        <th>
                            <a [routerLink]="[2, 'edit']" class="featured button">Edit</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>