<!--
File: topbar.component.html
Project: crud-ngrx
Created: Wednesday, September 15th 2021, 8:20:04 pm
Last Modified: Wednesday, September 15th 2021, 8:31:45 pm
Copyright © 2021 AMDE Agência
-->

<div class="container">
    <nav class="line nav">
        <div class="nav hamburguer">
            <img src="assets/img/menu.png" alt="Navegação" width="25" height="25">
        </div>
        <div class="four columns">
            <a href="#" class="nav logo">
                <img src="assets/img/logo.png" alt="Logotipo" width="150" height="55">
            </a>
        </div>
        <ng-content></ng-content>
    </nav>
</div>