<!--
File: products-page.component.html
Project: crud-ngrx
Created: Wednesday, September 15th 2021, 8:16:30 pm
Last Modified: Saturday, November 20th 2021, 1:03:22 pm
Copyright © 2021 AMDE Agência
-->
<div class="container">
    <div class="line">
        <div class="twelve columns">
            <h1>PRODUCTS</h1>
            <table class="u-width-100">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Keyboard</td>
                        <td>Computer</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hat</td>
                        <td>Clothes</td>
                        <td>13</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
