<!--
File: product-page.component.html
Project: crud-ngrx
Created: Thursday, January 6th 2022, 8:42:04 pm
Last Modified: Thursday, January 6th 2022, 9:05:21 pm
Copyright © 2021 AMDE Agência
-->
<div class="container">
    <div class="dashboard">
        <section class="line">
            <div class="columns pricing">
                <div class="spacing">
                    <header class="pricing">
                        <img src="https://source.unsplash.com/720x480/?Keyboard" alt="Keyboard" title="Keyboard">
                        <p class="pricing type">Keyboard</p>
                        <h4 class="pricing cost">
                            $ <span class="pricing cost big">527</span>
                        </h4>
                        <p>
                            Ergonomic executive chair upholstered in bonded black leather and PVC padded seat and back
                            for all-day comfort and support?
                        </p>
                    </header>
                    <table class="u-width-100">
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Category: <strong>Home</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <a [routerLink]="['edit']" class="button featured u-width-100">Edit</a>
                    <a class="button u-width-100">Remove</a>
                </div>
            </div>
        </section>
    </div>
</div>  